@import "../../variables";

.menu {
  width: 730px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 80vh;
  padding: 3rem 1.5rem;
  overflow-y: scroll;
  margin: 0;
  z-index: 3;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: transform 0.5s ease;
  background: rgb(255, 255, 255);

  &__thx {
    width: 540px;
    height: 449px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform 0.8s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1001;
    &-active {
      transform: translate(-50%, -50%) scale(1);
    }
    &-svg {
      display: flex;
      justify-content: center;
      margin-top: 48px;
    }

    &-title {
      color: rgb(0, 0, 0);
      font-family: $comm;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0px;
      text-align: center;
      margin-top: 47.5px;
    }
    &-descr {
      width: 444px;
      height: 90px;
      color: rgb(122, 122, 122);
      font-family: $comm;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0 auto;
      margin-top: 16px;
    }
    &-btn {
      width: 107px;
      height: 48px;
      border-radius: 33.5px;

      background: rgb(60, 179, 171);
      border: none;
      color: rgb(255, 255, 255);
      font-family: $comm;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0px;
      text-align: center;
      cursor: pointer;
    }
    &-btns {
      display: flex;
      justify-content: center;
      margin-top: 32px;
    }
  }
  &__descr {
    width: 634px;
    height: 30px;
    color: rgb(122, 122, 122);
    font-family: $comm;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    margin-left: 28px;
  }
  &__active {
    transform: translate(-50%, -50%) scale(1);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    &-close {
      cursor: pointer;
    }
    &-title {
      color: rgb(0, 0, 0);
      font-family: $comm;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0px;
      text-align: center;
      margin-left: 28px;
    }
  }
}
.mobile {
  display: block;
}
.menu__card {
  width: 634px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  background: rgb(255, 255, 255);
  margin-left: 28px;
  margin-top: 32px;

  &-mobile {
    display: none;
  }
  &-descr {
    width: 530px;
    height: 56px;

    color: rgb(122, 122, 122);
    font-family: $comm;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 76px;
    margin-top: 17px;
    margin-bottom: 32px;
  }
  &-leftmob {
    display: none;
  }
  &-left {
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-family: $comm;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 28px;
    span {
      color: rgb(122, 122, 122);
      font-family: $comm;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      margin-left: 4px;
    }
  }
  &-active {
    color: rgb(60, 179, 171) !important;
  }
  &-check {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(60, 179, 171);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 28px;
    margin-top: 35px;
  }

  &-check:checked {
    background-color: white;
  }

  &-check:checked::after {
    content: "";
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background-color: rgb(60, 179, 171);
    border-radius: 50%;
  }
  &-title {
    margin-left: 24px;
    margin-top: 32px;
    color: rgb(0, 0, 0);
    font-family: $comm;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
  }

  &-title:hover {
    color: rgb(60, 179, 171);
  }
  &-subtitle {
    margin-left: 17px;
    margin-top: 32px;
    color: rgb(60, 179, 171);
    font-family: $comm;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  &-reward {
    display: flex;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-btns {
    margin-right: 28px;
  }

  &-input {
    width: 100px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(60, 179, 171);
    border-radius: 33.5px;
    padding-left: 41px;
    color: rgb(0, 0, 0);
    font-family: $comm;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
  }

  &-btns::before {
    position: absolute;

    content: "$";
    margin-top: 15px;
    margin-left: 24px;

    color: rgb(0, 0, 0);
    font-family: $comm;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.25;
  }
  &-button {
    width: 107px;
    height: 48px;
    border-radius: 33.5px;

    background: rgb(20, 122, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-family: $comm;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 16px;
  }
  &-hr {
    width: 100%;
    height: 1px;
    background: rgb(0, 0, 0);
    opacity: 0.15;
    margin-bottom: 24px;
  }
  &-enter {
    color: rgb(122, 122, 122);
    font-family: $comm;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 28px;
    margin-bottom: 34px;
  }
}
.card {
  &__text {
    &-wrapper {
      display: flex;
    }
  }
}

.error__msg {
  color: red;
  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-bottom: 10px;
}

.menu-container {
  position: relative;
  z-index: 1;
}

.menu-container--active .menu-overlay {
  display: block;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu {
  z-index: 1001;
}

.menu::-webkit-scrollbar {
  // width: 5px;

  // background-color: white;
  display: none;
}
// .menu::-webkit-scrollbar-thumb {
//   background-color: #888;
//   border-radius: 10px;
// }
.menu__card-footer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition-property: max-height, opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease;
}

.menu__card-footer.footer__active {
  max-height: 200px;
  opacity: 1;
}

@media (max-width: 740px) {
  .card {
    &__wrapper {
      &-mobile {
        width: 100%;
        flex-direction: row;
        justify-content: start;
      }
    }
  }
  .menu {
    width: 90%;
    &__thx {
      width: 90%;
      height: 382px;
      &-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
      }
      &-descr {
        width: 90%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    &__descr {
      width: 279px;
      height: 48px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin: 0 auto;
      margin-top: 24px;
    }
    &__content {
      &-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin: 0px !important;
        margin-top: 32px;
        margin-left: 24px;
      }
    }
    &__card {
      width: 90%;
      &-btns {
        margin: 0 auto;
        margin-bottom: 24px;
      }
      &-descr {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        width: 231px;
        height: 120px;
      }
      &-enter {
        display: flex;
        justify-content: center;
        margin-left: 0;
      }
      &-leftmob {
        display: block;
        font-family: $comm;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 24px;
        margin-top: 24px;
        margin-bottom: 32px;
        span {
          color: rgb(122, 122, 122);
          font-family: $comm;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
          margin-left: 4px;
        }
      }
      &-mobile {
        display: block;
      }
      &-check {
        margin-left: 24px;
      }
      &-title {
        margin-left: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        width: 100%;
      }

      &-subtitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        width: 100%;
        margin-top: 8px;
      }
      &-descr {
        width: 231px;
        height: 120px;
        margin: 0;
        margin-left: 24px;
        margin-top: 27px;
      }
      &-left {
        display: none;
      }
    }
  }

  .mobile {
    display: none;
  }

  .card {
    &__text {
      &-wrapper {
        width: unset;
      }
    }
  }
}
