@import "../../variables";

.about {
  width: 730px;
  height: 1197px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  background: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 24px;
}
